//Variavles

//Colores
$color-primario: #16B978;
$colorsecundario: #2F70D3;
$color-fondo: #7fccad;
$color-blanco: #FFF;
$color-balncoNotnablanco: #F7FFFF;
$color-hover: #8A8A8A;

//box-shadow
$box-sadow-normal: 2px 2px 5px rgba(0,0,0,0.4);
$box-sadow-scroll: 0px 3px 17px 0px rgba(0,0,0,0.75);
$box-shadow-left: -3px 3px 7px rgba(0,0,0,0.4);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background: $color-primario;
    display: flex;
    justify-content: space-between;
    box-shadow: $box-sadow-normal;
    
    .logo{
        padding: 15px 70px;
        color: $color-blanco;
    }

    nav{
        ul{
            list-style: none;
            padding: 10px 60px;

            li{
                display: inline-block;
                padding: 10px 0;
            }
    
            a{
                text-decoration: none;
                padding: 10px 10px;
                font-size: 18px;
                color: $color-blanco;
                transition: all 300ms;

                &:hover{
                    color: $color-hover;
                }
            }
        }
    }
}


.container--all{
    width: 100%;
    height: 100vh;
    background: $color-fondo;

    .container{
        width: 90%;
        height: 100vh;
        margin: auto;
        background: $color-balncoNotnablanco;
        display: flex;
    }

    .container__conten{
        width: 100%;
        padding: 10px 30px;
    }

    .container__titulo{
        padding: 20px 30px;
        font-size: 25px;
        font-family: sans-serif;
    }

    .container__subtitle{
        padding: 20px 30px;
    }

    .container__text{
        width: 100%;
        font-family: serif;
        padding: 0 30px;
        margin-bottom: 30px;
    }

    .container__aside{
        width: 60%;
        padding: 40px 30px;
        background: $color-hover;
        box-shadow: $box-shadow-left;
    }

    .cotainer__title-aside{
        color: $color-blanco;
        padding: 0 15px;
        font-size: 19px;
        font-family: sans-serif;
    }

    .container__text-aside{
        padding: 10px 15px;
        color: $color-blanco;
        font-size: 16px;
        font-family: serif;
        margin-bottom: 45px;
    }
}

::-webkit-scrollbar{
    background: $color-primario;
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background: $color-balncoNotnablanco;
    border-radius: 20px;
    box-shadow: $box-sadow-scroll;
}